<div class="answer">
  <div class="left">
    <div class="userImage">


      <% if answer.user.profile_picture %>
          <img src="/uploads/<%= answer.user.profile_picture %>">
      <% end %>
    </div>
  </div>

  <div class="right">

    <div class="userDetail">
      <%= answer.user.email %> answered
    </div>

    <div class="content">
      <%= answer.ans %>
    </div>
    <% div_idup = "upvote_#{answer.id}" -%>
    <% div_iddown = "downvote_#{answer.id}" -%>

  <div class="right-actions">
    <div><%= link_to 'Edit',edit_answer_path(answer) %></div>
    <div><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <div id="<%= div_idup %>" ><%= link_to 'Upvote',url_for(controller: 'answers', action: 'upvote', answer_id: answer.id), method: :post,id: "upvote`_#{answer.id}",remote: true %> <%= answer.answerupvotes.length %></div>
    <div id="<%= div_iddown %>" ><%= link_to 'Downvote',url_for(controller: 'answers', action: 'downvote', answer_id: answer.id), method: :post,id: "downvote`_#{answer.id}",remote: true %> <%= answer.answerdownvotes.length %></div>
  </div>
</div>

</div>

