<div class="answer">
  <div class="left">
    <div class="userImage">

      <% if answer.user.profile_picture %>
          <img src="/uploads/<%= answer.user.profile_picture %>">
      <% end %>

    </div>
  </div>

  <div class="right">

    <div class="userDetail">
      <%= answer.user.email %> answered
    </div>

    <div class="content">
      <%= answer.ans %>
    </div>
    <% div_id = "upvote_#{answer.id}" -%>

    <%= link_to 'Edit',edit_answer_path(answer) %>
    <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Upvote',url_for(controller: 'answers', action: 'upvote', answer_id: answer.id), method: :post,id: "upvote`_#{answer.id}",remote: true %> <div id="<%= div_id %>" > <%= answer.answerupvotes.length %></div>
    <%= link_to 'Downvote',{:controller => 'answers',:action => 'downvote',id:answer},method: :post %>  <%= answer.answerdownvotes.length %>
  </div>

</div>

