<div class="answer">
  <div class="left">
    <div class="userImage">

      <% if answer.user.profile_picture %>
          <img src="/uploads/<%= answer.user.profile_picture %>">
      <% end %>

    </div>
  </div>

  <div class="right">

    <div class="userDetail">
      <%= answer.user.email %> answered
    </div>

    <div class="content">
      <%= answer.ans %>
    </div>

    <%= link_to 'Edit',edit_answer_path(answer) %>
    <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Upvote',{:controller => 'answers',:action => 'upvote',id:answer},method: :post %>
    <%= link_to 'Downvote',{:controller => 'answers',:action => 'downvote',id:answer},method: :post %>
  </div>

</div>

