<div class="question">
  <div class="left">
    <div class="userImage">

      <% if question.user.profile_picture && question.anonymous== false %>
          <img src="/uploads/<%= question.user.profile_picture %>">
      <% end %>

    </div>
  </div>


  <div class="right">
    <div class="userDetail">
      <% if question.anonymous == false %>
      <%= question.user.email %>
          <% else %>
      Anonymous
          <% end %>
    </div>
    <div class="content">
      <%= question.content %>
    </div>

    <%= link_to 'Edit',edit_question_path(question) %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>

