
<main>


  <aside>

  </aside>

  <section>

    <div class="createQuestion">

      <%= form_for @question  do |f| %>

          <%= f.label :Ask_Question %> <br>

          <%= f.text_area :content %>  <br>
          <div class="actions">

            <%= f.submit  id: 'create_question_submit' %>

            <span id="characters">0</span>
          </div>

      <% end %>

      <% if @question.errors.any? %>

          <% @question.errors.full_messages.each do |message| %>

          <% end %>

      <% end %>

    </div>


    <div id="questions">

      <%  @feed.each do |question| %>

          <%= render 'question', question: question %>
          
            <% @answerfeed = question.listans question.id
                %>
            <%  @answerfeed.each do |answer| %>
                
                <%= render 'answer', answer: answer %>
                <% end %>
                
          <div class="createAnswer">

            <%= form_for @answer  ,remote: true do |f| %>
                <%= f.label :Answer_this %> <br>

                <%= f.text_area :ans , :rows=>"2" , :cols=>"30", :onfocus =>"this.rows=4 , this.cols =70" , :placeholder =>" answer_mailer this question " %>  <br>
                <%= hidden_field_tag :questid, question.id %>
                <div class="actions">

                  <%= f.submit  id: 'create_answer_submit' %>
                </div>

            <% end %>

            <% if @answer.errors.any? %>

                <% @answer.errors.full_messages.each do |message| %>

                <% end %>

            <% end %>

          </div>
      <% end %>

    </div>
  </section>

</main>



