
<main>


  <aside>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <!--<p>Some text in the Modal..</p>-->
        <h2>Sign up hey</h2>

        <%= form_for @user, :as => :user, :url => registration_path(@user) do |f| %>


            <div class="field">
              <%= f.label :UserName %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :DateOfBirth %><br />
              <%= f.date_field :birthday, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
        <% end %>

      </div>

    </div>
  </aside>

  <section>

    <div class="createQuestion">

      <%= form_for @question,remote: true  do |f| %>

          <%= f.label :Ask_Question %> <br>

          <%= f.text_area :content, :placeholder =>" Type your question here " %>  <br>

          <%= f.check_box :anonymous %> <%= f.label :Ask_anonymously %><br>

          <div class="actions">

            <%= f.submit  id: 'create_question_submit' %>

            <span id="characters">0</span>
          </div>

      <% end %>

      <% if @question.errors.any? %>

          <% @question.errors.full_messages.each do |message| %>

          <% end %>

      <% end %>

    </div>


    <div id="questions">

      <%  @feed.each do |question| %>

          <%= render 'question', question: question %>
            <% @answerfeed = question.listans question.id
                %>
            <%  @answerfeed.each do |answer| %>
                
                <%= render 'answer', answer: answer %>
                <% end %>
                
          <div class="createAnswer">
            <%= render 'createAnswer', answer: @answer,question: question %>

          </div>
      <% end %>

    </div>
  </section>

</main>


