
<main>

  <aside>
    <div id="myModal2" class="modal2">
       Modal content
      <div class="modal-content">

        <span class="close2">&times;</span>
        <div class="right">
        <header>
          <h2 style="align-content: center; font-weight: 700">Sign Up</h2>
        </header>

        <!--<p>Some text in the Modal..</p>-->
        <br><br>
        <div class="form-sign">
        <%= form_for @user, :as => :user, :url => registration_path(@user) do |f| %>


            <div class="field">
              <%= f.label :UserName %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :DateOfBirth %><br />
              <%= f.date_field :birthday, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off",:class => "password_field" %>
            </div>
              </div>
            <div class="actions">
              <%= f.submit "Sign up", :class => 'submit' %>
            </div>
            <%= link_to "Forgot your password?", new_password_path(@user) %><br />


      <% end %>
          <br><br>
        <footer><h5>@copyright 2018,
          <a  href="gauravano.github.io">Gaurav Sachdeva</a></h5></footer>
        </div>
      </div>

    </div>

    <div id="myModal1" class="modal1">

       Modal content
      <div class="modal-content">

        <span class="close1">&times;</span>

        <div class="leftlog">


        </div>
        <div class="right">
          <header>
            <h2 style="align-content: center; font-weight: 700">Sign In</h2>
          </header>


          <br><br>

          <div class="form-sign">

                <%=  form_for @user, :as => :user, :url => session_path(@user) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>



                <div class="actions">
                  <%= f.submit "Log in" %>
                </div>
            <% end %>

            <br><br>

            <footer><h5>@copyright 2017,
              <a  href="gauravano.github.io">Gaurav Sachdeva</a></h5></footer>
            </div>
      </div>

    </div>
    </div>

  </aside>

  <section>

    <div class="createQuestion">

      <%= form_for @question,remote: true  do |f| %>

          <%= f.label :Ask_Question %> <br>

          <%= f.text_area :content, :placeholder =>" Type your question here " %>  <br>

          <%= f.check_box :anonymous %> <%= f.label :Ask_anonymously %><br>

          <div class="actions">

            <%= f.submit  id: 'create_question_submit' %>

            <span id="characters">0</span>
          </div>

      <% end %>

      <% if @question.errors.any? %>

          <% @question.errors.full_messages.each do |message| %>

          <% end %>

      <% end %>

    </div>


    <div id="questions">

      <%  @feed.each do |question| %>

          <%= render 'question', question: question %>
            <% @answerfeed = question.listans question.id
                %>
            <%  @answerfeed.each do |answer| %>
                
                <%= render 'answer', answer: answer %>
                <% end %>
                
          <div class="createAnswer">
            <%= render 'createAnswer', answer: @answer,question: question %>

          </div>
      <% end %>

    </div>
  </section>

</main>


