<!DOCTYPE html>
<html>
<head>
  <title>Techora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
    <script type="text/javascript">
        noty({text: '<%= notice %>', type: 'alert'});
    </script>

<% end %>


<% if alert %>

    <script type="text/javascript">
        noty({text: '<%= alert %>', type: 'error'});
    </script>
<% end %>


<header>
  <div class="logo"><a href="/"> <%= image_tag src="logo.png" %></a> </div>
      <nav><ul>
        <li><% unless user_signed_in? %></li>
      <li><%= link_to 'SignIn',new_user_session_path %></li>
      <li><%= link_to 'SignUp',new_user_registration_path %></li>
      <% else %>
              <li>  <%= @current_username %></li>
              <li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
          <% end %>
    </ul></nav>
      </header>

<%= yield %>

</body>

</html>
