<!DOCTYPE html>
<html>
<head>
  <title>Techora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
          
</head>
<body>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
 
 <header>
    <div class="logo"><img src=""></div>
    <nav><ul>
      <li><% unless user_signed_in? %></li>
      <li><%= link_to 'SignIn',new_user_session_path %></li>
      <li><%= link_to 'SignUp',new_user_registration_path %></li>
      <% else %>
      <%= @current_user_username %>
      <% end %>
    </ul>
	</nav>
  </header>

<%= yield %>

</body>

</html>
