<!DOCTYPE html>
<html>
<head>
  <title>Techora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
<body>

<% if notice %>
    <script type="text/javascript">
        noty({text: '<%= notice %>', type: 'alert'});
    </script>

<% end %>

<% if alert %>

    <script type="text/javascript">
        noty({text: '<%= alert %>', type: 'error'});
    </script>
<% end %>

<header>

  <div class="logo"><a href="/"> <%= image_tag src="logo.png" %></a> </div>
      <nav><ul>

        <% unless user_signed_in? %>
            <li><button id="signin" class="link"> SignIn</button></li>
            <li><button id="signup" class="link"> SignUp</button></li>
      <% else %>

              <% if current_user.username!= "" && current_user.username!=" " %>

                  <li><div class="pic_user">
                    <div class="userImage">
                    <% if current_user.profile_picture %>
                        <img src="/uploads/<%= current_user.profile_picture %>" >
                    <% else %>
                        <%= image_tag("/uploads/substitutionprofile.png") %>
                    <% end %>
                  </div>
                    <div><%= link_to current_user.username,user_profile_path,:class => 'link' %></div></div></li>

              <% else %>
                  <li> <div class="pic_user">
                    <div class="userImage">
                      <% if current_user.profile_picture %>
                          <img src="/uploads/<%= current_user.profile_picture %>" >
                      <% else %>
                          <%= image_tag("/uploads/substitutionprofile.png") %>
                      <% end %>
                    </div>

                       <div><%= link_to current_user.email,user_profile_path,:class => 'link' %></div></div>
                  </li>
              <% end %>
              <li> <%= link_to "Users", users_path,:class => 'link' %> </li>
              <li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete,:class => 'link' %></li>
          <% end %>
    </ul></nav>
      </header>

<%= yield %>

</body>
</html>
